{% import 'bootstrap/wtf.html' as wtf %}
<!-- Modal -->
<div id="modalScore" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalScoreLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!-- Modal - header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="fa fa-times" aria-hidden="true"></span>

          <span class="sr-only">Close</span>
        </button>
      </div>
      <!-- .end Modal - header -->
      {{ wtf.quick_form(form) }}
      <!-- Modal - body -->
      <div class="modal-body">
        <div class="container">

          </div>
          <!-- .end Modal - body -->

          <!-- Modal - footer -->
          <div class="modal-footer">
            
          </div>
          <!-- .end Modal - footer -->
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- .end modal -->
