<h3>Bottle {{review.order }}:
{% if call_or_get(current_user.is_authenticated) %}
  {% if call_or_get(current_user.has_role('reviewer')) %}
    <a class="btn btn-primary float-right" role="button" href="{{ url_for('main.edit_review', review_id=review.id) }}">Edit Review</a>
  {% endif %}
{% endif %}
</h3>
<div class="row pb-5">
  <div class="col-md-3"> <img class="js-modal-image" src="{{review.img_url()}}" alt="{{review.name}}" /> </div>
  <div class="col-md-9">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> <b>Distillery:</b> </div>
        <div class="col-md-9">{% if review.brand.name == "" %}Unknown{% else %}{{review.brand.name|safe }}{%endif%}</div>
        <div class="col-md-3"> <b>Name:</b> </div>
        <div class="col-md-9">{{review.name|safe}}</div>
        <div class="col-md-3 age"> <b>Age:</b> </div>
        <div class="col-md-9 age">{% if review.age != 0 %}{{ review.age }}yr Old {% endif %}</div>
        <div class="col-md-3"> <b>Notes:</b> </div>
        <div class="col-md-9">{{review.notes|safe}}</div>
        <div class="col-md-3"> <b>Tasting:</b> </div>
        <div class="col-md-9">{{review.tasting_note|safe}}</div>
        <div class="col-md-3"> <b>Max:</b> </div>
        <div class="col-md-9">{{review.max_rating|safe}}</div>
        <div class="col-md-3"> <b>Average:</b> </div>
        <div class="col-md-9">{{review.avg_rating|safe}}</div>
        <div class="col-md-3"> <b>Min:</b> </div>
        <div class="col-md-9">{{review.min_rating|safe}}</div>
        <div class="col-md-3"> <b>Tasting Date:</b></div>
        <div class="col-md-9">{{review.tasting.date.strftime('%d/%m/%Y')}}</div>
      </div>
    </div>
  </div>
</div>
