
  {% for review in reviews %}
  <a href="#" class="grid__item {% if loop.first %}grid__sizer {% else %}{{ loop.cycle('', 'grid__item--high') }}{% endif %}" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand review" role="button" src="https://img.thewhiskyexchange.com/900/ablob.16yov1.jpg">
    <div class="item__overlay">
      <span class="item__overlay__desc">{{ review.age }}yr Old {{ review.name }}</span>
    </div>
    <img src="https://img.thewhiskyexchange.com/900/ablob.16yov1.jpg" alt="{{ review.name }}" />
  </a>
  {% endfor %}
