{% extends "base.html" %}

{% block content %}
<header>
  <h1 class="text-center">About</h1>
  </header>
  <p> So, who are the MaltGeezers? Well in short, we’re a group of men and yes women who enjoy the
“Water of life” that is Whisky and as the Scots say it “A right good blether”.</p>

<p>I had the idea of creating the club around eight or so years ago, but only managed to getting around
to starting it three and half years ago mainly due to not really having a good enough venue in
Strathblane/Blanefield to host it. This changed when the Blane Valley Inn changed management and
was upgraded.</p>

<p>We meet the last Friday of the month all through the year and have around 20 or so members
although we rarely all get together at the same time. The ethos of the group is one member
presents at each meeting any Whisky they feel is worth tasting which is done blind with each
presented bottle being given a score out of ten</p>


{% endblock %}
