{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<header>
  <h1 class="text-center">Welcome to MaltGeezers</h1>
</header>
<div class="row">
    <div class="col-md-6">
      <div class="form-group">
      <label class="form-control-label" for="query">Distillery</label>
      <div class="input-group">
      <input type="text" class="form-control border-primary" name="query" id="query" placeholder="Start typing to search...">
      <div class="input-group-append">
          <button type="submit" class="btn btn-outline-primary">
              <i class="fa fa-search"></i>
          </button>
      </div>
    </div>
    </div>
      <div id="menu-container"></div>
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

<script>


$(document).ready(function () { // only begin once page has loaded


    $('#query').autocomplete({ // attach auto-complete functionality to textbox
        // define source of the data
        source: function (request, response) {
            var brandsUrl = '{{ url_for('api.brandsautocomplete') }}?q=' + encodeURIComponent(request.term);
            console.log(brandsUrl);
            $('#brand_id').val(0); // set the brand to 0 to show custom value entered
            $('#brand_name').val(request.term); // store what was entered
            //debugger;
            $.ajax({
                url: brandsUrl,
                crossOrigin: true,
                success: function(data) {
                    response($.map(data.items, function (item) {
                        if (item.id && item.name && item.region) {
                            return {
                                // label value will be shown in the suggestions
                                label: item.name + ', ' + item.region,
                                // value is what gets put in the textbox once an item selected
                                //value: item.name,
                                // other individual values to use later
                                id: item.id
                              }
                            ;
                        }
                    }));
                }
            });
        },
        select: function (event, ui) {
            $('#brand_id').val(ui.item.id);
        },
        minLength: 2, // set minimum length of text the user must enter
        appendTo: '#menu-container'

    });
});



</script>
{% endblock %}
