{% extends "base.html" %}

{% block content %}
  <header>
    <h1 class="text-center">Details for {{review.name }}
      </h2>
      <div class="float-right  mr-4"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button " data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      <div class="fb-share-button float-right mr-4" data-href="{{ url_for('main.review', review_id=review.id, _external=True) }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

  </header>
  <div class="container">
          {% with%}
            {% include '_review_inline.html'  %}
          {% endwith %}
  </div>
{% endblock %}
