{% extends "base.html" %}

{% block content %}
<header>
  <h1 class="text-center">Maltgeezers Cookie and Privacy Policy</h1>
</header>
<p>Welcome to http://www.maltgeezers.org (our “Services”) which is owned and operated by our community) . Whenever you use our Services information may be collected through the use of cookies and similar technologies (“cookies”). By using our Services you agree to our use of cookies as we describe it in this policy.</p>
<ol>
<li><strong>What are cookies?</strong></li>
</ol>
<p>Cookies are small text files which are downloaded to your computer or mobile device (“device”) when you visit a website or application (“device”). Your web browser then sends these cookies back to the website or application on each subsequent visit so that they can recognise your device and remember things specific to your device.</p>
<ol start="2">
<li><strong>How long are cookies used for?</strong></li>
</ol>
<p>Session cookies last only for your session online and do not remain on your device when you close your browser. Persistent cookies remain after the browser has been closed, are activated each time you visit the site from which it was downloaded and last for as long as the cookie specifies.</p>
<ol start="3">
<li><strong> Why do we use them?</strong></li>
</ol>
<p>Cookies allow us to collect information about your use of and experience on our Services. They do different jobs which also help us improve the performance of our Services and make your visits and use our Services as straightforward and efficient as possible.</p>
<ol start="4">
<li><strong>What cookies do we use?</strong></li>
</ol>
<p>We set the following kinds of cookies on your device when you use our Services.</p>
<p>(i) Strictly Necessary cookies are necessary to enable our Services to operate properly. If your device or browser is not “enabled” to receive them or if your settings have been changed, aspects of our Services will not work for you.</p>
<p>(ii) Functionality cookies enable your device to tell us certain details you have previously entered via our Services.</p>
<p>Specifically, we set the following cookie which may be categorised as both a strictly necessary and functionality cookie:</p>
<table width="595">
<thead>
<tr>
<td width="131"><strong>Cookie name</strong></td>
<td><strong>Purpose</strong></td>
<td width="144"><strong>Expires</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td width="131">cookieconsent_status</td>
<td>Identify whether the cookie banner has been shown to you, the user.</td>
<td width="144">after one year</td>
</tr>
</tbody>
</table>
<p>(iii) Analytical cookies are commonly designed and operated by third party companies on our behalf and help us learn how our Services are being used. They allow us to track how many individual users have used our Services, how often and how they moved around our Services. Cookies used to obtain this information cannot be used to identify you as they never contain personal information such as your name or email address.</p>
<p>Specifically, we set the following analytical cookies:</p>
<table width="595">
<thead>
<tr>
<td width="132"><strong>Cookie name</strong></td>
<td width="331"><strong>Purpose</strong></td>
<td width="132"><strong>Expires</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td width="132">_ga</td>
<td width="331">This is a tracking cookie used to collect information about how visitors use our website.  It is used to distinguish one visitor from another and to track their use of our Services including how, and how often, they move around our Services.</td>
<td width="132">After two years.</td>
</tr>
<tr>
<td width="132">_gat_UA</td>
<td width="331">This is a tracking cookie for analytics that is used to manage website traffic.</td>
<td width="132">After 10 minutes.</td>
</tr>
</tbody>
</table>
<ol start="5">
<li><strong>How can you manage and control your cookies?</strong></li>
</ol>
<p>There are various ways that you can manage and control your cookies and we outline them below. Please remember that any settings you change will apply not only to our Services but to all websites that you visit (unless you choose to block cookies from particular sites).</p>
<p>Most modern browsers will allow you to see the cookies that have been set on your device, to delete or block some or all cookies from being set. If cookies are deleted, preferences will be lost. Deleting cookies will affect some functionality on some or all sites.</p>
<ol start="6">
<li><strong>Finding out more about Cookies</strong></li>
</ol>
<p>The links below take you to the ‘Help’ sections for each of the major browsers so that you can find out more about how to manage your cookies.</p>
<p>Internet Explorer:  <a href="http://support.microsoft.com/kb/">http://support.microsoft.com/kb/</a><br />
Firefox:  <a href="http://support.mozilla.org/en-US/kb/Cookies">http://support.mozilla.org/en-US/kb/Cookies</a><br />
Google Chrome:  <a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647">http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647</a><br />
Safari:  <a href="http://www.apple.com/legal/privacy/em-ww/cookies">https://www.apple.com/legal/privacy/em-ww/cookies</a></p>
<p>To find out more about how to manage and delete cookies, visit www.aboutcookies.org.uk or www.allaboutcookies.org.uk.</p>
<ol start="7">
<li><strong>How is my data used?</strong></li>
</ol>
<p>When you interact with us we may collect data from which a natural person can be identified.  This is known as “personal data”.  This section explains what we do with personal data and how we keep it protected.</p>
<p>We may amend this statement from time to time, so please check for updates or changes when you visit us.</p>
<p><strong>What personal data do we collect?</strong></p>
<p>We may collect personal data when you ask us questions through our website and other interactions you may have with us. The types of personal data we might collect include name and e-mail address, however this is only collected where you submit the data via a form or email</p>
<p><strong>Use of data</strong></p>
<p>We may use information held about you to respond to your enquiries, to analyse the use of or website, for our own research purposes and to interact with you.</p>
<p><strong>Sharing data</strong></p>
<p>We will not share your data with any 3rd party.</p>
<p>&nbsp;</p>
<ol start="8">
<li>Contact us</li>
</ol>
<p>Email: help@maltgeezers.org</p>
<p>Last Updated June 2018.</p>


{% endblock %}
