{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="row">
  <div class="col">
    <header>
      <h1 class="text-center">Latest Tasting Notes</h1>
    </header>
    <div class="centered">
      <section class="cards cards_align">
        {% for review in tasting.reviews %} {% with%} {% include '_review.html' %} {% endwith %} {% endfor %}
    </div>
    <header>
      <h1 class="text-center">Our Top Reviews</h1>
    </header>
    <div class="centered">
      <section class="cards">
        {% for review in reviews %} {% with%} {% include '_review.html' %} {% endwith %} {% endfor %}
    </div>
  </div>
  <div class="col-3  d-none d-md-block">
    <h1></h1>
    <a class="twitter-timeline" href="https://twitter.com/BvMaltgeezers?ref_src=twsrc%5Etfw">Tweets by BvMaltgeezers</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

{% include '_review_modal.html' %}

{% endblock %}
