{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="row">
  <div class="col">
    <header>
      <h1 class="text-center">Latest Tasting Notes</h1>
    </header>
    <div class="centered">
      <section class="cards cards_align">
        {% for review in tasting.reviews %} {% with%} {% include '_review.html' %} {% endwith %} {% endfor %}
    </div>
    <header>
      <h1 class="text-center">Our Top Reviews</h1>
    </header>
    <div class="centered">
      <section class="cards">
        {% for review in reviews %} {% with%} {% include '_review.html' %} {% endwith %} {% endfor %}
    </div>
  </div>
  <div class="col-3  d-none d-md-block">
    <h1></h1>
    <a class="twitter-timeline" href="https://twitter.com/BvMaltgeezers?ref_src=twsrc%5Etfw">Tweets by BvMaltgeezers</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<!-- Modal -->
<div id="modalReview" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPictureLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!-- Modal - header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="fa fa-times" aria-hidden="true"></span>

          <span class="sr-only">Close</span>
        </button>
      </div>
      <!-- .end Modal - header -->

      <!-- Modal - body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <img class="js-modal-image" src="" alt="" />
            </div>
            <div class="col-md-9">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <b>Distillery:</b>
                  </div>
                  <div class="col-md-9">
                    <span id="distillery"></span>
                  </div>
                  <div class="col-md-3 age">
                    <b>Age:</b>
                  </div>
                  <div class="col-md-9 age">
                    <span id="age"></span>
                  </div>
                  <div class="col-md-3">
                    <b>Notes:</b>
                  </div>
                  <div class="col-md-9">
                    <span id="notes"></span>
                  </div>
                  <div class="col-md-3">
                    <b>Tasting:</b>
                  </div>
                  <div class="col-md-9">
                    <span id="tasting_notes"></span>
                  </div>
                  <div class="col-md-3">
                    <b>Max:</b>
                  </div>
                  <div class="col-md-9">
                    <span id="max_rating"></span>
                  </div>
                  <div class="col-md-3">
                    <b>Average:</b>
                  </div>
                  <div class="col-md-9">
                    <span id="avg_rating"></span>
                  </div>
                  <div class="col-md-3">
                    <b>Min:</b>
                  </div>
                  <div class="col-md-9">
                    <span id="min_rating"></span>
                  </div>
                  <div class="col-md-3">
                    <b>Tasting Date:</b>
                  </div>
                  <div class="col-md-9">
                    <span id="tasting_date"></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- .end Modal - body -->

          <!-- Modal - footer -->
          <div class="modal-footer">

            <a class="js-heart m-r" href="#" aria-label="Like">
          <span class="fa fa-heart" aria-hidden="true"></span>

          <span class="sr-only">Like</span>
        </a>

            <span id="SocialTwitter">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Checkout the Maltgeezers review for" data-url="http://maltgeezers.com" data-via="bvmaltgeezers" data-hashtags="whisky #test" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </span>
          <span id="fbholder">
            <div class="fb-share-button" data-href="https://maltgeezers.org/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
          </span>
          </div>
          <!-- .end Modal - footer -->
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- .end modal -->


    <!--
<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
  -->
<!-- /.container -->
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
  $('#modalReview').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var review_id = button.data('id') // Extract info from data-* attributes
    var modal = $(this);
    $.ajax({
      type: "GET",
      url: "{{url_for('api.get_reviews')}}/" + review_id,
      data: '',
      cache: false,
      success: function(data) {
        console.log(data);

        $('.modal-title').html(data.name);
        $('#distillery').html(data.distillery);
        $('#notes').html(data.notes);
        $('#tasting_notes').html(data.tasting_notes);
        $('#max_rating').html(data.max_rating);
        $('#avg_rating').html(data.avg_rating);
        $('#min_rating').html(data.min_rating);
        $('#tasting_date').html(data.tasting.date);
        if (data.age == 0) {
          $('.age').hide();
        } else {
          $('#age').html(data.age);
        }
        $('.js-modal-image').attr('src', data.img_url);
        $('.fb-share-button').attr('data-href', data._links.review)
        $('.twitter-share-button').attr('data-url', data._links.review)
        $('.twitter-share-button').attr('data-hashtags', '#whisky, #' + data.distillery)
        $('.twitter-share-button').attr('data-text', 'Checkout the Maltgeezers review for ' + data.distillery + ' '  + data.name)
        //reload facebook controls
        // Facebook
        var f = $('<div class="fb-share-button" data-layout="button">');
        $(f).attr('data-href', data._links.review);
        $('#fbholder').empty();
        $(f).appendTo($('#fbholder'));
        FB.XFBML.parse(document);
        // Update the twitter share
        // Remove the iframe
        $('#SocialTwitter iframe').remove();

        // Generate new markup
        $('<a>', {
          class: 'twitter-share-button',
          id: 'tweet_btn',
          href: 'http://twitter.com/intent/tweet',
          'data-url': data._links.review,
          'data-hashtags': 'whisky, ' + data.distillery,
          'data-text': 'Checkout the Maltgeezers review for ' + data.distillery + ' '  + data.name
        }).appendTo('#SocialTwitter');


        // Reload the widget
        twttr.widgets.load();



      },
      error: function(err) {
        console.log(err);
      }
    });
  })
</script>

{% endblock %}
